body{
    font-family: Helvetica, "Times New Roman", sans-serif;
    padding: 0px;
    margin: 0px;
}

.header {
   background-color: #1F2937;
   display: flex;
   justify-content: space-between;
   padding: 8px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;

}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.left, .right {
    display: flex;
    align-items: center;
}

.container-body {
    display: flex;
    flex: 1;
    justify-content: center;
}